.card {
  padding: 1rem;
  border: 1px solid #aaa;
  overflow: hidden;
  overflow-wrap: break-word;
}

.title {
  margin-bottom: 1rem;
}

.actions {
  margin-bottom: 1rem;
}

.action {
  background-color: white;
  border: 1px solid #aaa;
  padding: 0.5rem;
  cursor: pointer;
}